@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
  background-color: $color-black;
  color: $color-white;
}

.btn {
  background-color: $color-gray-1;
  border: 0;
  color: $color-white;
  padding: 0.5rem 0.8rem;
  border-radius: 2px;
  margin: 0 0.5rem;
  min-width: 90px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  -webkit-box-shadow: 0px 3px 2px 0px $color-gray; 
  box-shadow: 0px 3px 2px 0px $color-gray;

  &:active {
    background-color: $color-gray-3;
    transform: translateY(3px);
    -webkit-box-shadow: 0px 1px 2px 0px $color-gray; 
    box-shadow: 0px 1px 2px 0px $color-gray;
  }
  
  &:focus {
    outline: none;
  }

}