@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
  background-color: $color-black;
  color: $color-white;
}

.btn {
  background-color: $color-gray-1;
  border: 0;
  color: $color-white;
  padding: 0.2rem 0.4rem;
  font-size: 0.85rem;
  border-radius: 2px;
  margin: 0 0.5rem;
  min-width: 4.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0px 3px 2px 0px $color-gray; 
  box-shadow: 0px 3px 2px 0px $color-gray;
  line-height: 1.15rem;

  &:active {
    background-color: $color-gray-3;
    transform: translateY(2px);
    -webkit-box-shadow: 0px 1px 2px 0px $color-gray; 
    box-shadow: 0px 1px 2px 0px $color-gray;
  }
  
  &:focus {
    outline: none;
  }
}

.btn_arrows {
  background-color: $color-gray;
  position: relative;
  padding: 0.2rem 0.8rem;
  transition: color 0.2s linear;
  &::after, &::before {
    content: '';
    transition: border-color 0.2s linear;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 6px;
  }
  &::after {
    border-left: 5px solid $color-white;
    right: 0;
  }
  
  &::before {
    border-right:5px solid $color-white;
    left: 0;
  }
  
  &:hover {
    color: darken($color: $color-white, $amount: 20%);
  }
  &:hover::after {
    border-left-color: darken($color: $color-white, $amount: 20%);
  }
  
  &:hover::before {
    border-right-color: darken($color: $color-white, $amount: 20%);
  }

  &:active {
    background-color: $color-gray;
    transform: none;
    color: darken($color: $color-white, $amount: 50%);
  }

  &:active::after {
    border-left-color: darken($color: $color-white, $amount: 50%);
  }
  
  &:active::before {
    border-right-color: darken($color: $color-white, $amount: 50%);
  }


}

.expand-toggle {
  border: 1px solid $color-white;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
}