$color-gray: #222222;
$color-gray-1: #555555;
$color-gray-2: #7c7c7c;
$color-gray-3: #303030;
$color-gray-4: #202020;
$color-black: #000000;
$color-white: #efefef;
$color-blue: #0075ff;
$color-blue-2: #4e92e2;
$color-green: #08ff00;

$breakpoint-width-1: '1900px';
$breakpoint-width-2: '1600px';
$breakpoint-width-3: '1280px';
$breakpoint-width-4: '1024px';
$breakpoint-width-5: '767px';